.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    padding: 0px;
    background-color: var(--texto-principal);
  }

  .link-home {
    color: var(--fundo-principal);
    text-decoration: none;
  }
  
  .nav-left {
    display: flex;
    align-items: center;

  }
  
  .nav-logo-img {
    height: 50px;
  }
  
  .nav-center {
    display: flex;
    gap: 20px;
  }
  
  .nav-itens-btn a {
    color: var(--destaque-principal);
    text-decoration: none;
    font-weight: 600;
  }
  
  .nav-right {
    display: flex;
    align-items: center;
    gap: 48.5px;
    padding: 25px;
    /* margin-left: 122px; Solução temporaria para alinhamento de telas grandes */
  }

  /* TODO: produzir a flexibilidade do site para 
    dispositivos mobiles */