/* src/pages/TotemDetail.css */
.totem-detail-container {
    max-width: 1200px;
    margin: 40px auto;
    padding: 100px 20px;
  }
  
  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .totem-main-image {
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .totem-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
  }
  