/* src/styles/MidleSection.css */
.midle-section {
  background: linear-gradient(135deg, #f3f3f3, #ffffff);

  padding: 50px 20px;
  text-align: center;
}

.midle-section h2 {
  font-size: 2rem;
  color: var(--primary-text-color, #333);
  margin-bottom: 20px;
}

.partners-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.partner-card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 150px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  filter: grayscale(100%);
}

.partner-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  filter: grayscale(0%); /* retorna à cor normal */
}

.partner-card img {
  width: 100px;
  height: auto;
}

.partner-card p {
  font-size: 1rem;
  color: var(--secondary-text-color, #666);
  margin-top: 10px;
}
